.form {
  margin-left: 36px;
  margin-right: 36px;
}

.formadd {
  margin-left: 36px;
  margin-right: 36px;
}

.form__EditarPerfil {
  color: black;
  font-size: 1.5rem;
  line-height: 1.22;
  font-weight: 900;
}

.form__field1 {
  width: 100%;
  height: 27px;
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.form__field2 {
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
}

.form__input_type_error {
  border-bottom-color: #ff0000;
  min-width: 18.8rem;
}

.form__error {
  display: none;
  width: 164px;
  height: 16px;
}

.form__error_active {
  color: red;
  font-size: 12px;
  display: block;
  max-width: 164px;
  height: 16px;
}

.formadd__field1 {
  display: block;
  width: 100%;
  height: 27px;
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: none;
  border-left: none;
  border-right: none;
}

.formadd__field2 {
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: none;
  border-left: none;
  border-right: none;

  width: 100%;
}

.form__SubmitButton {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  width: 100%;
  margin-right: 36px;
  height: 50px;
  margin-top: 48px;
  line-height: 1.21;
  font-size: 1.21rem;
}

.form__SubmitButton:hover {
  opacity: 80%;
  border-radius: 2px;
  cursor: pointer;
}

.form__SubmitButton:disabled {
  background-color: white;
  cursor: not-allowed;
  color: black;
}

.field_disabled {
  border-bottom: 1px solid #ff0000;
  background-color: #ffffff;
  color: black;
  cursor: none;
}

.field_active {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media screen and (max-width: 544px) {
  .form {
    width: fit-content;
  }
}
